@font-face {
  font-family: "onest-regular";
  src: url("../assets/fonts/Onest-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "onest-medium";
  src: url("../assets/fonts/Onest-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "onest-light";
  src: url("../assets/fonts/Onest-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}



.main-font {
  font-family: "onest-regular";
}

.main-font-light {
  font-family: "onest-light";
}

.main-font-medium {
  font-family: "onest-medium";
}


